<%- include ('partials/header') %>


<div class="jumbotron jumbotron-fluid MainJumbotron">
    <div class="container">
      <h1 class="display-4"><%=title%></h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
<% for(let count = 0; count < BlogList.length; count++) { %>
<div class="BlogPostsWrapper">

  <div class="BlogPost">
    <h1><%=BlogList[count].blogheader%></h1>
    <p><%=BlogList[count].blogpost%></p>
  </div>

    

</div>
<% } %>
  <%- include ('partials/footer') %>